#chatContainer {
  position: absolute;
  z-index: 9999;
  width: 28%;
  height: 80%;
  margin-top: 0%;
  margin-left:75%;
}

#chatToolbar {
  height: 30px;
  background-color: #1a1b24;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffffff;
}

#closeButton {
  position: absolute;
  right: 0;
  top: -8px;
}

#chatComponent {
  background-color: #1a1b24;
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  border-radius: 20px;
}
/* 메세지 창 */
.message-wrap {
  /* padding: 0 15px; */
  padding: 0;
  height: calc(100% - 80px);
  overflow: auto;
}

.message {
  position: relative;
  padding: 7px 0;
}
.user-img {
  position: absolute;
  border-radius: 45px;
  width: 50px;
  height: 50px;
  top: 15px;
}

.msg-detail {
  width: calc(100% - 65px);
  display: inline-block;
}

.msg-detail p {
  margin: 0;
  font-size: 15px;
}

.msg-info p {
  font-size: 0.8em;
  color: #ffffff;
  font-style: italic;
}

.msg-content {
  position: relative;
  margin-top: 14px;
  border-radius: 5px;
  padding: 8px;
  color: #1a1b24;
  width: auto;
  max-width: 80%;
}

span.triangle {
  border-radius: 2px;
  height: 8px;
  width: 8px;
  top: 12px;
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}
/* 채팅에 나오는 글자인지 확인 */
.text {
  word-break: break-all;color: #ffffff;
}

/* Start message from other user */

.message > .left .msg-detail .msg-info {
  text-align: left;
}

.message.left .msg-detail {
  padding-left: 65px;
}

.message.left .user-img {
  left: -5px;
  border: 1px solid #10b1eb94;
}

.message.left .msg-detail .msg-content {
  background-color: #10b1eb94;
  float: left;
}
.message.left .msg-detail .msg-content span.triangle {
  background-color: #1a1b24;
  border-bottom-width: 0;
  border-left-width: 0;
  left: -5px;
}

/* End message from other user */

/* Start my messages */

.message.right .msg-detail .msg-info {
  text-align: right;
}
/* 유저이미지 테두리? */
.message.right .user-img {
  right: -5px;
  border: 1px solid #ffffff;
}
/* 메세지 내용 */
.message.right .msg-detail .msg-content {
  background-color: #ffffff;
  float: right;
}
/* 옆의 점 */
.message.right .msg-detail .msg-content span.triangle {
  background-color: #1a1b24;
  border-bottom-width: 0;
  border-left-width: 0;
  right: -5px;
}

/* End my messages */
/* 메세지 입력 */
#messageInput {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #1a1b24;
  text-align: center;
  padding: 10px 0px;
  height: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #39f7f0;
}
/* 메세지 입력의 글자 */
#messageInput input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: -6%;
  color: #39f7f0;
}

#sendButton {
  background-color: #81e9b0;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #7ae2a9;
  box-shadow: none !important;
}
#sendButton {
  margin-left: 3px !important;
  margin-bottom: 2px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
}

.chatComponentLight ::-webkit-scrollbar-thumb {
  background-color: #eeeeee !important;
}
